html,
body {
    height: 75%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: "Fjalla One", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    transition-duration: 2s;
}

h1 span {
    font-size: 0.75em;
    background-color: lightblue;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    font-weight: lighter;
}

p {
    font-size: 2em;
}

.stats {
    border-radius: 6px;
    padding: 6px;
    transition-duration: 0.3s;
    background-color: white;
}

.unit-change {
    background-color: #E6BBAD;
}

.unit-change:hover {
    cursor: pointer;
    background-color: lightblue;
    border: none;
}

.unit-change:active {
    background-color: darkred;
}

#weather-container {
    background-image: linear-gradient(to bottom, white, lightblue);
    border-radius: 16px;
    padding: 20px;
}

#weather-container:hover {
    background-image: linear-gradient(to bottom, white, skyblue);
}