html,
body {
    height: 75%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: "Fjalla One", sans-serif;
    background-image: url("../img/rainsepia.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

h1 span {
    font-size: 0.75em;
    background-color: lightblue;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    font-weight: lighter;
}

p {
    font-size: 2em;
}

#weather-description,
#temperature {
    border: 2px solid black;
    border-radius: 6px;
    padding: 6px;
    transition-duration: 0.3s;
}

#temperature:hover {
    cursor: pointer;
    background-color: lightblue;
    border: none;
}

#weather-container {
    background-color: white;
    border-radius: 6px;
    padding: 20px;
}